.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  background-color: var(--background);
  min-height: 100vh;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: auto 0;
  height: fit-content;
}

.justifyBetween {
  gap: 30px;

  justify-content: space-between;
}

.flexEnd {
  justify-content: end;
}

.searchInput {
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid var(--foreground);
  max-width: 300px;
  width: 100%;
  font-size: 16px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  background: linear-gradient(125deg, #ff9800, #ff3d00, #ffd700);
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-light);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

@media (max-width: 768px) {
  .fab {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  .gridContainer {
    grid-template-columns: 1fr;
    align-self: center;
  }
  .flexEnd, .justifyBetween{
    justify-content: center;
  }
}

