/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 1rem;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary);
}

.heroInner {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.textContainer {
  flex: 1;
  text-align: left;
}

.heroImage {
  flex: 1;
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 768px) {
  .heroBanner {
    text-align: center;
  }

  .heroContent {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    text-align: center;
  }

  .heroImage {
    max-width: 80%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

@media screen and (max-width: 996px) {
  .buttons {
    justify-content: center;
  }
}
